.ipynb_checkpoints
*.venv
Journal.docx
LeNet.png
AlexNet.png
demo.png
healthy.png
healthy2.png
parkinson.png
parkinson2.png
drawings_copy
drawing_reset
AlexNetLogs
flagged
lenet_logs
logs
OSModelLogs
LNLogs
ClassifyImages.ipynb
models
drawings/wave
LeNet_arc.png

